#editor{
    height: 90vh;
}

.title {
    font-weight: bold;
    font-family: sans-serif;
}

.rec {
    display: inline-block;
    object-fit: cover;
    width: 100px;
    height: 100px;
    margin: 10px;
    border-radius: 2px;
}

.controls {
    width: 100%;
}

.menu {
    width: 280px;
    height: 588px;
    background-color: white;
    position: absolute;
    top: 16.5%;
    overflow-y: scroll;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    left: 6.75%;
    border-radius: 8px;
    box-shadow: 3px 4px 10px 1px rgba(0,0,0,0.17);
    padding: 10px
}

.overlay-bttn{
        position: absolute;
        z-index: 1;
        top: 70%;
        left: 2%;
        width: 60px;
        height: 60px;
        background-color: #33363E;
        border-radius: 100%;
}