#editor{
    height: 90vh;
}


.overlay-bttn{
        position: absolute;
        z-index: 1;
        top: 70%;
        left: 2.75%;
        width: 60px;
        height: 60px;
        background-color: black;
        border-radius: 100%;
}